body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../resources/images/albion\ wallpaper.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#logo {
    display: block;
    margin: 20px auto;
    width: 200px;
}
.about {
    background-color: hsla(34, 78%, 91%, 0.6);
    width: auto;
    height: 250px;
    overflow: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}
video {
    display: block;
    width: 800px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(26, 26, 26);
    border-radius: 10px;
}
button {
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}
button a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}