.container {
    display: flex;
    flex-direction: row; /* column, column-reverse, row-reverse */
    flex-wrap: wrap; /* nowrap, wrap-reverse */
    /* flex-flow: row wrap; shortcut for flex-direction & flex-wrap */
    justify-content: space-evenly; /* flex-start, flex-end, space-between, space-around */
    height: 90vh;
    align-items: center; /* flex-start, flex-end, stretch, baseline */
    /* align-content: space-around; */ /* space-between, stretch, center, flex-start, flex-end */
    border: 1px solid black;
}
.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    margin: 5px;
    font-size: 2em;
}
#box1 {
    background-color: tomato;
}
#box2 {
    background-color: aquamarine;
}
#box3 {
    background-color: goldenrod;
}