* {
    box-sizing: border-box;
}
#side-nav {
    float: left;
    width: 10%;
}
.container {
    float: left;
    width: 30%;
    padding: 2%;
}
.container h2 {
    text-align: center;
}
.logo {
    width: 80px;
    display: block;
    margin: auto;
}
.container:hover {
    background-color: hsl(48, 100%, 97%);
}
.container .content {
    margin-top: 30px;
}
.container .content::first-letter {
    font-size: 1.5em;
}